### 1. **What are data structures, and why are they important?**

Data structures are ways of organizing and storing data so we can use it efficiently. They're important because they help us manage and access data quickly and cleanly — like using shelves to store books instead of tossing them on the floor.

---

### 2. **Explain the difference between mutable and immutable data types with examples.**

* **Mutable**: Can be changed after creation. Example: list

  ```python
  my_list = [1, 2]
  my_list.append(3)
  my_list =[1,2,3]
   # Now it’s [1, 2, 3]
  ```

* **Immutable**: Cannot be changed once made. Example: tuple, string

  ```python
  my_str = "hello"
  # my_str[0] = "y" → This gives an error
  ```

---

### 3. **What are the main differences between lists and tuples in Python?**

* `list` is **mutable** (you can change it), `tuple` is **immutable**
* `list` uses more memory, `tuple` is faster and uses less space
* Tuples are better when you don’t want data to change

---

 4. **Describe how dictionaries store data.**

Dictionaries store data in **key-value pairs**. Each key points to a specific value.

```python
student = {"name": "TANISK", "age": 23}
```
so, here `name` is key and `TANISK` is value.

---

 5. **Why might you use a set instead of a list in Python?**

Because **sets do not allow duplicates**, and they are **faster** for checking if an item exists.

### 6. **What is a string in Python, and how is it different from a list?**

A **string** is a sequence of characters. A **list** can contain any type of data.

* String: `"hello"`
* List: `["hello", 5, True]`

Strings are **immutable**, but lists are **mutable**.

---

### 7. **How do tuples ensure data integrity in Python?**

Tuples **cannot be changed**, so the data stays safe and unchanged — good for things like coordinates or settings.

---

### 8. **What is a hash table, and how does it relate to dictionaries in Python?**

A **hash table** is a way of storing data using a key that’s converted to an index. In Python, dictionaries use a hash table to quickly find values by their key.

---

### 9. **Can lists contain different data types in Python?**

Yes! A list can hold strings, numbers, even other lists.

```python
mixed = [1, "hello", True]
```

---

### 10. **Explain why strings are immutable in Python.**

Strings are **immutable** to make them **safe and efficient**. Once created, they can’t be changed, which prevents accidental errors.

---


### 11. **What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries let you find data **faster** using keys. You don’t need to know the position of the value, just the key.

---


### 12. **How do sets handle duplicate values in Python?**

Sets **automatically remove duplicates**.

```python
a = set([1, 2, 2, 3])
a =  # Result: {1, 2, 3}
```


### 13. **Describe a scenario where using a tuple would be preferable over a list.**

When storing a adhar card number or savings or current bank account number,
 or person’s birth date:

```python
dob = (1995, 11, 26)  # This should not change
```

---

### 14. **How does the “in” keyword work differently for lists and dictionaries?**

* For **lists**, it checks if a value exists:
  `"apple" in ["apple", "banana"]` → True
* For **dictionaries**, it checks if a **key** exists:
  `"name" in {"name": "Niyati"}` → True

---

### 15. **Can you modify the elements of a tuple? Explain why or why not.**

No, you **cannot**. Tuples are **immutable**. Once created, the elements can’t be changed.

---

### 16. **What is a nested dictionary, and give an example of its use case.**

A dictionary **inside another dictionary**.

```python
family = {"child1": {"name": "Niyati", "age": 3}}
```

Useful for storing related data in layers.

---

### 17. **Describe the time complexity of accessing elements in a dictionary.**

It’s **O(1)** (constant time), meaning accessing any element is very fast and does **not depend** on the size of the dictionary.#took help from google to answer this

Example:

```python
my_dict = {'a': 10, 'b': 20, 'c': 30}
print(my_dict['b'])  # Output: 20
```

---

### 18. **In what situations are lists preferred over dictionaries?**

When:

* Order matters
* You don’t need key-value pairs
* You’re working with simple collections of items

**Lists** are better when you only need values and order matters.
Example:

```python
fruits = ["apple", "banana", "mango"]

print(fruits[1])  # Output: banana
```
 Use a **list** when you don’t need a key, just want to store items in order.

---

### 19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

Before Python 3.7, dictionaries didn’t keep the order of items. Now they do, but we still treat them as **unordered** because we **access by key**, not by position.

---

### 20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

* **List**: You find data by **index** → `list[0]`
* **Dictionary**: You find data by **key** → `dict["name"]`

PRACTICAL QUESTIONS:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

In [5]:
#''' 1. Write a code to create a string with your name and print it
name = "tanisk"
surname = "yadav"
final = (name + " " + surname)
print(final)

tanisk yadav

In [6]:
#2 Write a code to find the length of the string "Hello World"
str1 = "Hello World"
length = len(str1)
length

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced = (text[0:3])
sliced

'Pyt'

In [8]:
#4. Write a code to convert the string "hello" to uppercase
str = "hello"
str.upper()

'HELLO'

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

str = "i like apple"
str.replace("apple","orange")

'i like orange'

In [12]:
#6. Write a code to create a list with numbers 1 to 5 and print it

list  = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [14]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list=  [1,2,3,4,4,5,6]
list.append(10)
list

[1, 2, 3, 4, 4, 5, 6, 10]

In [18]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=  [1,2,3,4,5,6]
list.remove(3)
list

[1, 2, 4, 5, 6]

In [20]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [22]:
 #10.Write a code to reverse the list [10, 20, 30, 40, 50]
 list = [10, 20, 30, 40, 50]
 list.reverse()
list

[50, 40, 30, 20, 10]

In [25]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100,200,300)
tup

(100, 200, 300)

In [28]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1 = ('red', 'green', 'blue', 'yellow')
tup1[-2]

'blue'

In [30]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup2 = (10, 20, 5, 15)
print(min(tup2))

5

In [33]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup3 = ('dog', 'cat', 'rabbit')
tup3.index("cat")

1

In [40]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it'''
tup4 =  ("apple", "banana", "kiwi")
if  "kiwi" in tup4:
  print("yes kiwi is in the tuple")
else:
  print("no its not in the tuple")

yes kiwi is in the tuple

In [46]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a','b','c'}
set1

{'a', 'b', 'c'}

In [47]:
type(set1)

set

In [51]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 =  {1, 2, 3, 4, 5}
set2.clear()
set2

set()

In [54]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 =  {1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

In [55]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1, 2, 3}
set5 = {3, 4, 5}
set4.union(set5)

{1, 2, 3, 4, 5}

In [59]:
 #20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
set4&set5

{3}

In [61]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dictA= {"name":"tanisk","age":23,"city":"dehradun"}
dictA

{'name': 'tanisk', 'age': 23, 'city': 'dehradun'}

In [63]:
for keys,values in dictA.items():
  print(keys,":",values)

name : tanisk
age : 23
city : dehradun

In [73]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict3 =  {'name': 'John', 'age': 25}
dict3.update({"country" : "usa"})

dict3

{'name': 'John', 'age': 25, 'country': 'usa'}

In [80]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict5 = {'name': 'Alice', 'age': 30}
dict5["name"]
print(dict5["name"])

Alice

In [81]:
# 24. Write a code to remove the key "age" from the dictionary  {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict6 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict6.pop("age")
dict6

{'name': 'Bob', 'city': 'New York'}

In [85]:
 #25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict7 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict7:
  print("yes")
else:
  print("no")

yes

In [86]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list25 =[1,2,"tanisk", 2.5, 3+5j]
tup25 = tuple(list25)
dict25 = {"name":"tanisk","age":23,"city":"dehradun"}
print(list25)
print(tup25)
print(dict25)

[1, 2, 'tanisk', 2.5, (3+5j)]
(1, 2, 'tanisk', 2.5, (3+5j))
{'name': 'tanisk', 'age': 23, 'city': 'dehradun'}

In [89]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random
numb = random.sample(range(1,100),5)
print(numb)
numb.sort()
numb

[58, 28, 56, 54, 91]

[28, 54, 56, 58, 91]

In [90]:
#28. Write a code to create a list with strings and print the element at the third index.
list26 = ("apple","banana","mango","orange")
list26[2]

'mango'

In [91]:
 #29. Write a code to combine two dictionaries into one and print the result.
dict27 =  {'a': 1, 'b': 2}
dict28 = {'c': 3, 'd': 4}
dict27.update(dict28)
dict27

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [92]:
#30. Write a code to convert a list of strings into a set
string_k = ("apple", "mango", "owl")
set_string = set(string_k)
print(set_string)

{'owl', 'apple', 'mango'}